@charset "UTF-8";

@font-face {
    font-family: 'AliceW';
    src: url('Alice_in_Wonderland_3.ttf');
}

body {
    background-color: rgb(236, 208, 255);
    margin: auto;
    padding-top: 3%;
    font-family: "Alice", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    width: 80%;
    line-height: 2.5em;
    color: rgb(38, 16, 63);
}

img {
    width: 40%;
}

h1 {
    font-family: "AliceW", "Alice", Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}

ul, .container {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: -40px;
}

li, nav p {
    display: inline;
    margin-bottom: 2.5%;
    background-image: url('https://www.transparenttextures.com/patterns/padded.png');
    background-color: #80d7ff;
    border: solid #5e362b 3px;
    padding: 1%;
    transition: 0.3s;
}

li:hover {
    background-color: #84b8ec;
}

a {
    color: rgb(38, 16, 63);
    text-decoration: none;
}

main {
    padding: 2% 5%;
}

#chapter {
    background-color: rgb(225, 180, 255);
    background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
}

main div{
    text-align: left;
}

main p {
    text-indent: 3%;
}

.start_letter {
    font-size: x-large;
}

.allcaps {
    text-transform: uppercase;
}

.itallics {
    font-style: italic;
}

.stars {
    text-align: center;
}

.mouse {
 max-width: 70%;
}

.container {
    margin: 1%;
}

footer {
    font-family: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1em;
}

footer a {
    text-decoration: underline;
}